<p><%= flash[:error] %></p>
<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employeenumber %>
    <%= f.text_field :employeenumber %>
  </div>
  <div class="field">
    <%= f.label :firstname, "First Name" %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname, "Last Name"%>
    <%= f.text_field :lastname %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
<%= hline %>
<%= link_to "Back to list", employees_path %>

