<% @title = "Edit User #{@user.email}"%>
<p><%= flash[:error] %></p>
<%= form_for(@user) do |f|%>
  <div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>
 
  <div class="field">
  <%= f.label :password %>
  <%= f.text_field :password %>
  </div>

<p> <%= f.submit 'Save', class:'btn btn-primary'%>
<% end %>	
<%= hline %>
<%= link_to "Back to list", users_path %>
