<% @title = "Users" %>

<center><%= will_paginate %></center>

<table class="table table-condensed">
	<thead>
		<tr><th>Email</th><th></th></tr>
	</thead>
	<tbody>	
	<% @users.each do |user|%>
	  <tr>
		<td> <%= user.email%> </td>
		<td><%= link_to 'edit', edit_user_path(user) %>
			<%= link_to 'delete', user, method: :delete %>	
		 
	<% end %>
	</tbody>
</table>	

<center><%= will_paginate %></center>

<p><%= link_to "Add new User", new_user_path , class:"btn btn-primary"%>
