<% @title = "New User"%>

<% if @user.errors %>
<% @user.errors.full_messages.each do |message| %>
  <%= message %>
<% end
   end %>


<%= form_for(@user) do |f| %>
  <div class="field">  
    <%= f.label :email %> 
    <%= f.text_field :email %> 
  </div>

  <div class="field">
  <%= f.label :password %>
  <%= f.text_field :password	%>
  </div>

<%= f.submit 'Save', class:"btn btn-primary" %>
<% end %>
<%= hline %>
<%= link_to "Back to list", users_path %>

