<% @title="Sign Up"%>
<p><%= flash[:error] %>
<%= form_for :user, url:{controller:'join', action:'join'} do |f| %>
<div class="field">
<%= f.label :email  %>
<%= f.text_field :email  %>	
</div>
<div class="field">
<%= f.label :password  %>
<%= f.password_field :password %>
</div>
<%= f.submit 'Sign In', class:'btn btn-primary' %>
<% end %>
